@import url('https://fonts.googleapis.com/css2?family=Lora:wght@600&family=Raleway:wght@300;400&display=swap');
@font-face {
	font-family: "Swifty";
	src: url("./assets/fonts/get_schwifty.ttf");
  }
:root{
	--property: #ff79c6;
    --numeric: #f08d49;
    --string: #4cff8f;
    --keyword: #66d9ef;
    --punctuation: #abb2bf;
    --background: #0d1f2dff;
	--dark-electric-blue: #166678;
	--light-green: #f0ffef;
	--acid-green: #93f373;
	--blue: #4ed4f2;
    --radius: 6px;
    --inline-background: #1b1f230d;
    --inline-color: #476582;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 62.5%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	max-height: 100vh;
	background-color: var(--background);
	font-family: "roboto";

}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}